
<div class="card mb-2">
    <div class="card-body text-start">
        <div class="d-flex align-items-center">
            <a href="/profile/<%=post.author.id %>">
                <h5>
                    <%=post.author.username %>
                </h5>
            </a>
            <small class="text-muted ms-auto">
                <%=post.createdAt.toDateString() %>
            </small>
            <% if (currentUser && post.author.id.equals(currentUser._id)) {%>
            <div class="dropdown">
                <button class="no-outline" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="/assets/images/ellipsis.png" height="15px">
                </button>
                <div class="dropdown-menu" style="min-width: 4rem;">
                    <small href="/posts/<%=post._id  %>/bookmark" class="dropdown-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-fill" viewBox="0 0 16 16">
                            <path d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2"/>
                        </svg>
                        <button type="submit" class="no-outline">Save Post</button>
                    </small>
                    <small href="/posts/<%=post._id  %>/audience" class="dropdown-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gear" viewBox="0 0 16 16">
                            <path d="M8 4.754a3.246 3.246 0 1 0 0 6.492 3.246 3.246 0 0 0 0-6.492M5.754 8a2.246 2.246 0 1 1 4.492 0 2.246 2.246 0 0 1-4.492 0"/>
                            <path d="M9.796 1.343c-.527-1.79-3.065-1.79-3.592 0l-.094.319a.873.873 0 0 1-1.255.52l-.292-.16c-1.64-.892-3.433.902-2.54 2.541l.159.292a.873.873 0 0 1-.52 1.255l-.319.094c-1.79.527-1.79 3.065 0 3.592l.319.094a.873.873 0 0 1 .52 1.255l-.16.292c-.892 1.64.901 3.434 2.541 2.54l.292-.159a.873.873 0 0 1 1.255.52l.094.319c.527 1.79 3.065 1.79 3.592 0l.094-.319a.873.873 0 0 1 1.255-.52l.292.16c1.64.893 3.434-.902 2.54-2.541l-.159-.292a.873.873 0 0 1 .52-1.255l.319-.094c1.79-.527 1.79-3.065 0-3.592l-.319-.094a.873.873 0 0 1-.52-1.255l.16-.292c.893-1.64-.902-3.433-2.541-2.54l-.292.159a.873.873 0 0 1-1.255-.52zm-2.633.283c.246-.835 1.428-.835 1.674 0l.094.319a1.873 1.873 0 0 0 2.693 1.115l.291-.16c.764-.415 1.6.42 1.184 1.185l-.159.292a1.873 1.873 0 0 0 1.116 2.692l.318.094c.835.246.835 1.428 0 1.674l-.319.094a1.873 1.873 0 0 0-1.115 2.693l.16.291c.415.764-.42 1.6-1.185 1.184l-.291-.159a1.873 1.873 0 0 0-2.693 1.116l-.094.318c-.246.835-1.428.835-1.674 0l-.094-.319a1.873 1.873 0 0 0-2.692-1.115l-.292.16c-.764.415-1.6-.42-1.184-1.185l.159-.291A1.873 1.873 0 0 0 1.945 8.93l-.319-.094c-.835-.246-.835-1.428 0-1.674l.319-.094A1.873 1.873 0 0 0 3.06 4.377l-.16-.292c-.415-.764.42-1.6 1.185-1.184l.292.159a1.873 1.873 0 0 0 2.692-1.115z"/>
                        </svg>
                        <button type="submit" class="no-outline">Edit Audience</button>
                    </small>
                    <a href="/posts/<%=post._id  %>/edit" class="dropdown-item" style="font-size: smaller;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
                        </svg>
                        <button type="submit" class="no-outline">Edit Post</button>
                    </a>
                    <hr class="dropdown-divider">
                    <form class="dropdown-item" action="/posts/<%= post._id %>?_method=DELETE" method="POST">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                        </svg>
                        <button type="submit" class="no-outline" style="font-size: smaller;">Move to Trash</button>
                    </form>
                </div>
            </div>
            <% } %>
        </div>

        <p class="card-text mt-2">
            <%= post.description %>
        </p>

        <% if(post.image) {%>
        <img class="w-100" src="http://localhost:3000/assets/images/<%= post.image %>" />
        <% } %>

        <hr class="mb-1">
        <div class="d-flex justify-content-between ">
            <div class="row">
                <button id="like-button-<%=post._id%>" class="no-outline" type="button" data-post-id="<%=post._id%>">
                    <% if (post.likes.find(event => event === currentUser._id.toString())) { %>
                        <img src="/assets/images/like-1.png" height="20px">
                    <% } else { %>
                        <img src="/assets/images/like.png" height="20px">
                    <% } %>
                    <span class="ms-1" id="like-count-<%=post._id%>"><%=post.likes.length %></span>
                </button>
            </div>
        
            <a class="ms-auto pe-2" data-bs-toggle="collapse" href="#post<%=post._id %>">
                댓글 <%=post.comments.length %>
            </a>
        </div>
        <hr class="mt-1">
        <div class="collapse show" id="post<%=post._id%>">
            <% if (post.comments.length > 0){ %>
            <div class="card-body comment-section">
                <% post.comments.forEach((comment)=>{ %>
                <div class="d-flex justify-content-between">
                    <a href="/profile/<%=post.author.id %>">
                        <div class="font-weight-bold ">
                            <%=comment.author.username %>
                        </div>
                    </a>
                    <small class="text-secondary">
                        <%=comment.createdAt.toDateString() %>
                    </small>
                </div>
                <div class="d-flex justify-content-between mt-2">
                    <p>
                        <%=comment.text %>
                    </p>
                    <% if (currentUser && comment.author.id.equals(currentUser._id)) {%>
                        <div class="dropdown">
                            <button class="no-outline" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="/assets/images/ellipsis.png" height="15px">
                            </button>
                            <div class="dropdown-menu" style="min-width: 4rem;">
                                <a href="/posts/<%=post._id%>/comments/<%=comment._id %>/edit" class="dropdown-item" style="font-size: smaller;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
                                    </svg>
                                    <button type="submit" class="no-outline">Edit</button>
                                </a>
                                <form class="dropdown-item" action="/posts/<%=post._id%>/comments/<%=comment._id %>?_method=DELETE" method="POST">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                    </svg>
                                    <button type="submit" class="no-outline" style="font-size: smaller;">Delete</button>
                                </form>
                            </div>
                        </div>
                    <% }%>
                </div>
                <% }) %>
            </div>
            <% } %>
        </div>
        <div>
            <form method="POST" action="/posts/<%= post._id %>/comments ">
                <div class="form-group">
                    <input name="text" id="desc" class="comment-section" placeholder="댓글을 작성해주세요." required>
                    <p class="small ms-2">엔터를 눌러주세요.</p>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        document.querySelectorAll('[id^="like-button-"]').forEach(button => {
            button.addEventListener('click', async function() {
                const postId = this.getAttribute('data-post-id');
                try {
                    const response = await fetch(`/posts/${postId}/like`, {
                        method: 'PUT',
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    });
    
                    if (response.ok) {
                        const data = await response.json();
                        if (data.success) {
                            const likeCountElement = document.getElementById(`like-count-${postId}`);
                            likeCountElement.innerText = data.likesCount;
    
                            const likeButtonImage = this.querySelector('img');
                            if (data.liked) {
                                likeButtonImage.src = '/assets/images/like-1.png';
                            } else {
                                likeButtonImage.src = '/assets/images/like.png';
                            }
                        } else {
                            alert('좋아요 업데이트 중 에러가 발생하였습니다.');
                        }
                    } else {
                        alert('서버와의 통신 중 에러가 발생하였습니다.');
                    }
                } catch (error) {
                    console.error('좋아요 업데이트 중 에러가 발생하였습니다.', error);
                    alert('좋아요 업데이트 중 에러가 발생하였습니다.');
                }
            });
        });
    });
    </script>

